<h1>Aareon Angular Test</h1>
<form>
  <div class="form" [formGroup]="form">
    <div class="control">
      <label>Title</label>
      <select formControlName="title">
        <option value="">-- Select an option --</option>
        <option *ngFor="let title of titles$ | async" [value]="title.name">{{title.name}}</option>
        <!-- TODO: add titles to dropdown -->
      </select>
    </div>
    <div class="control">
      <label>First name</label>
      <input formControlName="firstName" type="text" placeholder="First name"/>
    </div>

    <div class="control">
      <label>Last name</label>
      <input formControlName="lastName" type="text" placeholder="Last name"/>
    </div>

    <span class="error" *ngIf="form.controls.lastName.errors?.required && showErrors">
      *Last name is mandatory
    </span>

    <div>
      <input class="margin-left" id="check" type="checkbox" formControlName="acceptTerms"/>
      <label for="check"> I accept the terms & conditions</label>
    </div>
    <div class="actions">
      <button [disabled]="!form.controls.acceptTerms.value" (click)="submit()">Submit</button>
    </div>
  </div>
</form>