.form {
  display: flex;
  flex-direction: column;
}

.control {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 5px;
}
.control > label {
  flex: 0 0 100px;
}
.control > *:not(label) {
  flex: 1 1 200px;
  /* border: 1px solid red; */
}

.actions {
  display: flex;
  flex-direction: row-reverse;
}

.margin-left {
  margin-left: 5px;
}

.error-message {
  color: red;
}

.has-errors {
  border: 2px solid red;
}
